# dependencies
node_modules/

# Android build outputs
android/.gradle/
android/build/
android/app/build/

# local config
android/local.properties

# logs
npm-debug.log*
yarn-error.log*

# OS/editor
.DS_Store
.idea/
*.iml
